doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="styles.css")
    title All Tickets

  body
    header
      h1 All Tickets

    main
      section.ticket-list
      -for(let ticket of tickets)
        article.ticket
          h2 Ticket #{ticket.ticket_id}
          p Technician: Technician #{ticket.ticket_assigned_engineer_id}
          p Submitted by: #{ticket.ticket_contact_first_name} #{ticket.ticket_contact_last_name}
          p Issue: #{ticket.ticket_details} 
          p Priority: High

        //- Add more ticket articles as needed
